<%- include('layouts/header.ejs') %>

<div class="container">
    <div class="row title">
        <h1>Asteroid Drilling Stats</h1>
        <h4>Click to explore asteroid.</h4>
        <a href="/sum">Sum Calculations</a>
    </div>

    <% const sums = [182158.33, 362866.67, 139647.45, 338278.13, 119293.02, 43344.21, 238560.22, 27681.50, 316324.93, 179734.31, 133842.94, 156437.54, 47712.28, 460386.07, 147950.93, 227735.05, 161654.65, 118788.90, 87441.34, 158128.06]; %>

    <% for (let asteroid = 1; asteroid <= 20; asteroid++) { %>
        <div class="row">

        <% for (let col = 1; col <= 4; col++) { %>
            <div class="col-3">
                <h3>Asteroid <%= asteroid %></h3>
                <span class="hovertext" data-hover="The total cost of asteroid <%= asteroid %>: $<%= sums[asteroid - 1].toFixed(2); %>">
                    <% if (asteroid == 3 || asteroid == 8 || asteroid == 12 || asteroid == 15 || asteroid == 18) { %>
                        <a href="/jupyter/<%= asteroid %>">
                    <% } else { %>
                        <a href="/">
                    <% } %>
                        <img alt="Asteroid" src="images/m.gif" class="center">
                    </a>
                </span>
            </div>
        <% asteroid++ } %>
        
        </div>

    <% asteroid-- } %>
</div>

<%- include('layouts/footer.ejs') %>